<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48390564186-v82j02km9vtedts7lpp2dc0qo5mpl44i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48390564186-v82j02km9vtedts7lpp2dc0qo5mpl44i</string>
	<key>API_KEY</key>
	<string>AIzaSyCyohgfvKoeJtlLwzsy8BShbCTO-fwfTDw</string>
	<key>GCM_SENDER_ID</key>
	<string>48390564186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team4.cosmicraiders</string>
	<key>PROJECT_ID</key>
	<string>cosmic-raiders-c966b</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmic-raiders-c966b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48390564186:ios:6eb06b65cc139254df2b63</string>
</dict>
</plist>